{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Event Guide</h6>
                <h1 class="mb-5">Meet Our Event</h1>
            </div>
            <div class="row g-4">
                {% for event in events %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.{{ loop.index }}s">
                        <div class="team-item">
                            <div class="overflow-hidden">
                                {% if event.image %}
                                    <img class="img-fluid" src="{{ asset('uploads/images/' ~ event.image) }}" alt="">
                                {% endif %}
                            </div>
                            <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                                <!-- Add your social media links here -->
                                <!-- Example: Facebook, Twitter, Instagram -->
                                <!-- Replace "#" with actual URLs -->
                                <a class="btn btn-square mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square mx-1" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square mx-1" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="text-center p-4">
                                <h5 class="mb-0">{{ event.getNomevent() }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
